* {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.table {
	margin:auto;
}

.table td {
	width: 50px;
	height: 50px;
	border: 2px solid black;
	font-size: 28px;
	text-align: center;
}

.table td:hover {
	background-color: lightgrey;
}

.player {
	text-align: center;
	font-size: 24px;
}

.winner {
	margin-top: 40px;
	text-align: center;
	font-size: 48px;
}
